body,
h1,
ul,
li,
button,
label,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background: #ff3636;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.header h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.main {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 600px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.main label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.main input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main button {
  cursor: pointer;
  background: #50b3a2;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
}

.main button:hover {
  background: #338f7b;
}

.main ul {
  list-style-type: none;
}

.main li {
  background: #eee;
  margin: 0.5rem 0;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
}

.main li button {
  margin-left: 1rem;
  background: #d9534f;
}

.main li button:hover {
  background: #c9302c;
}

.main div {
  text-align: center;
  font-size: 1.2rem;
}
